{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('static/assets/img/about.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is who i am.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Im an inspiring Software Developer who is a college graduate,
          but i didn't go to school for computer science. I'm taking
          the unconventional route. But science and the way things worked
          always peaked my interest from a little kid.
        </p>
        <p>
          Used to play sports, like football and basketball, I was kinda good,
          because i went to D1 college on a scholarship to play football.
          Now im trying to figure out how to be more than an athlete
        </p>
        <p>
          Some of my interests are designing stuff like clothes,
          <a href="https://royalprinciples.com/">(I have a Clothing brand)</a> cutting hair, playing video games,
          and outdoor things. I feel like im the jack of trades. Just have
          to get good at Coding.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
